body {
	background: #EFEFEF;
}

h1 {
    text-align:center;
}

ul {
	padding: 0;
}

li {
	width: 100%;
	position:relative;
	list-style-type: none;
	display: block;
}

hr {
	size: 18px;
	color: #EFEFEF;
}

#message-container {
	height:80%;
	overflow: hidden;
	overflow-y: auto;
}

.main-container {
	margin: 0 10%;
	background: white;
	box-shadow: 0 0 50px 5px rgba(0,0,0,0.5);
}

.input-container {
	padding: 10px;
}

#input-field {
	width: 90%;
    font-size: 18px;
    border-radius: 5px;
}

.send-message-btn {
	width: 10%;
	float: right;
    font-size: 18px;
    background-color: #00bfb6;
    color: #fff;
    border-radius: 5px;
}

.message-container {
    overflow: scroll;
    height: 80%;
    margin: 50px;
}

.box {
    margin: 50px 19px;
    background: #00bfb6;
    padding: 20px;
    text-align: right;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position:relative;
    border-radius: 10px;
}

.user-message {
	text-align: left;
	background: #00726E;
}

.sb1:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #00bfb6;
    border-right: 10px solid transparent;
    border-top: 10px solid #00bfb6;
    border-bottom: 10px solid transparent;
    right: -19px;
    top: 6px;
}

.sb2:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #00726E;
    border-top: 10px solid #00726E;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 6px;
}